body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.meme {
  text-align: center;
}

.sys-info{
  display: inline-block;
  color:#00bc8c
}

.offlineText{
  color: rgb(255, 0, 0);
}

.onlineText{
  color: chartreuse
}
